.btn {
  border-radius: 5px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #7ab794;
  color: #7ab794;
}
.btn-primary {
  @apply hover:bg-[#58896d] bg-[#7AB794]   text-white;
}
.btn-light {
  @apply hover:bg-gray-100 bg-white  text-[#7ab794];
}
